<div>
  <!--  <h2 id="tracker-page-heading" data-cy="trackerPageHeading">Активность пользователей в реальном времени</h2>-->

  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Ты не ты, когда не ты.</p>
    </blockquote>
    <figcaption class="blockquote-footer">Волк <cite title="Source Title">с трусов</cite></figcaption>
  </figure>

  <div class="table-responsive">
    <table class="table table-striped" aria-describedby="tracker-page-heading" data-cy="trackerTable">
      <thead>
        <tr>
          <th scope="col">Пользователь</th>
          <th scope="col">IP Адрес</th>
          <th scope="col">Текущая страница</th>
          <th scope="col">Время</th>
          <!--          <th scope="col"></th>-->
        </tr>
      </thead>
      <tbody>
        @for (activity of activities; track $index; let i = $index) {
          <tr>
            <td id="cell-{{ activity.sessionId }}-0">{{ activity.userLogin }}</td>
            <td id="cell-{{ activity.sessionId }}-1">{{ activity.ipAddress }}</td>
            <td id="cell-{{ activity.sessionId }}-2">{{ activity.page }}</td>
            <td id="cell-{{ activity.sessionId }}-3">{{ activity.time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <!--            <td></td>-->
          </tr>

          <!--        <button class="btn btn-danger" (click)="fadeOutCell(activity.sessionId, 0)">Fade Out Name</button>-->
        }
      </tbody>
    </table>
  </div>
</div>
